<ion-card style="overflow: visible; ">
  <ion-card-header>
    <ion-card-subtitle>My chatroom name</ion-card-subtitle>
    <div class="profilePic">
      <img src="../../assets/download.png">
    </div>
    <ion-card-subtitle class="owner-info">
    pewds#123
    <span style="float:right">12 min ago</span>
    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content style="border-top: 1px solid #eee; padding-top: 13px">
    <div class="room-type">
      <span>Auction</span>
    </div>
    <div class="details">
      <div class="info">300 <ion-icon name="chatbubble-outline"></ion-icon></div>
      <div class="info">10 <ion-icon name="people-outline"></ion-icon></div>
    </div>
  </ion-card-content>
</ion-card>
