<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Latest <span class="fc-credits">1500 FC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-list lines="none">
    <ion-item>
  <app-chatroom-preview></app-chatroom-preview>
</ion-item>
<ion-item>
  <app-chatroom-preview></app-chatroom-preview>
</ion-item>
<ion-item>
  <app-chatroom-preview></app-chatroom-preview>
</ion-item>
<ion-item>
  <app-chatroom-preview></app-chatroom-preview>
</ion-item>
</ion-list>
  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
